<a href="https://colab.research.google.com/github/Vieira-Diogo/Producao_hospitalar_no_Brasil/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estruturas de dados (utilizado para juntar ou estruturar dados)

 - Listas e Tuplas

**Listas são coleções ou sequencias ordenadas de valores  em Python**

Lista Vazia:
listavazia = []

lista com alguns valores:
numeros = [1,2,3,4]

listas podem mesclar diferentes tipos de valores:
lista_mista = [14, "let's code", 0.1, True]

listas são mutáveis, podemos alterar o valor de seus itens:
numeros [2] = 5
print(numeros)

In [ ]:
nomes_paises = ["Brasil", "Argentina", "China", "Canada", "Japão"]
print (nomes_paises)

['Brasil', 'Argentina', 'China', 'Canada', 'Japão']

In [ ]:
print("Tamanho da lista:", len(nomes_paises))

Tamanho da lista: 5

In [ ]:
print("País:",nomes_paises[4])

País: Japão

In [ ]:
print("Pais:", nomes_paises[-1])

Pais: Japão

In [ ]:
#para sobrescrever um valor na lista, basta chamar a lista na posição desejada e atribuir o valor desejado
nomes_paises[4] = "Colômbia"
print("Pais:", nomes_paises[-1])
print(nomes_paises)

Pais: Colômbia
['Brasil', 'Argentina', 'China', 'Canada', 'Colômbia']

In [ ]:
# Slice ou "fatiar" o primeiro indice é includente e o segundo excludente. O print retorna o primeiro e segundo países
print(nomes_paises[0:2])

['Brasil', 'Argentina']

In [ ]:
#ao omitir o indice final, indico que desejo ir até o final da lista. o mesmo vale para o indice inicial
print(nomes_paises[2:])
print(nomes_paises[:])

['China', 'Canada', 'Colômbia']
['Brasil', 'Argentina', 'China', 'Canada', 'Colômbia']

In [ ]:
# é possivel inserir um "Step", para que pule valores da lista de acordo com o step
print(nomes_paises[::2])
print(nomes_paises[::3])
#ao usar um incremento negativo, podemos inverter a ordem da lista
print(nomes_paises[::-1])

['Brasil', 'China', 'Colômbia']
['Brasil', 'Canada']
['Colômbia', 'Canada', 'China', 'Argentina', 'Brasil']

In [ ]:
#para checar se existe um elemento dentra da lista, operador "in" que retoma um valor bool
print("Brasil" in nomes_paises)
print("Canada" not in nomes_paises)

True
False

In [ ]:
#adicionar elementos na lista
lista_capitais = []

In [ ]:
#utilização do metodo .append que adiciona o valor ao final da lista
lista_capitais.append ("Brasilia")
lista_capitais.append ("Buenos Aires")
lista_capitais.append ("Pequim")
lista_capitais.append ("Bogotá")

print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Pequim', 'Bogotá']

In [ ]:
#para insirir um valor em uma determinada posição, utilizamos o metodo "insert", declarando a posição e o valor que desejamos
lista_capitais.insert(2, "Paris")
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Paris', 'Pequim', 'Bogotá']

In [ ]:
#para deletar valores, "remove" informando o seu valor
lista_capitais.remove("Buenos Aires")
print(lista_capitais)

['Brasilia', 'Paris', 'Pequim', 'Bogotá']

In [ ]:
#o metodo "pop" permite deletar o elemento a partir de sua posição na lista. Ele sempre retornar o valor removido
removido = lista_capitais.pop(2)
print(lista_capitais, removido)

['Brasilia', 'Paris', 'Bogotá'] Pequim

In [ ]:
#Tuplas, são semelhantes as listas, sua principal diferença é que a tupla é imutável. Uma vez definida, não pode sofrer alterações
#Tuplas são declaradas por ()
nomes_paises = ('Brasil', 'Argentina', 'China', 'Canada', 'Japão')
print(nomes_paises)

('Brasil', 'Argentina', 'China', 'Canada', 'Japão')

In [ ]:
print(nomes_paises, type(nomes_paises))

('Brasil', 'Argentina', 'China', 'Canada', 'Japão') <class 'tuple'>

In [ ]:
#tupla de 1 elemento
nome_estado = "São Paulo",
print(nome_estado, type(nome_estado))

('São Paulo',) <class 'tuple'>

In [ ]:
#tuplas permitem "unpacking", atribuir cada um dos valores da tupla a variaveis diferentes
b, a, c, ca, j = nomes_paises
print(b, a, c, ca, j)

Brasil Argentina China Canada Japão

In [ ]:
print(*nomes_paises)

Brasil Argentina China Canada Japão

### **Funções de Strings**

In [ ]:
empresa = 'Google'
print(empresa)

Google

In [ ]:
empresa = 'let's code'

SyntaxError: ignored

In [ ]:
empresa = "Let's Code"
print(empresa)

Let's Code

In [ ]:
#caracter de escape (contra barra \), serve para alterar o sentido padrão que um caracter possui dentro do texto
frase= "O professor fulano da Let's code disse: \"Hoje foi\""
print(frase)

O professor fulano da Let's code disse: "Hoje foi"

In [ ]:
#podemos acessar os caracteres de uma string de forma semelhante a uma tupla
empresa = "Google"
print(empresa[0])

G

In [ ]:
print(empresa[:3])

Goo

In [ ]:
#metodos para strings, ao contrário das listas que perpetuam a alteração, nas strings eles retornam um valor que deve ser armazenado em uma variavel

nomes_cidades = "São Paulo, Bele Horizonte, Rio de Janeiro, Brasília"

In [ ]:
#metodo "Split" serve para quebrar a string a partir de um caracter em diferentes valores atribuindo esses valores a uma lista
nomes_cidades = nomes_cidades.split(', ')
#tem como carcterer padrão o espaço

AttributeError: ignored

In [ ]:
print(nomes_cidades)

['São Paulo', 'Bele Horizonte', 'Rio de Janeiro', 'Brasília']

In [ ]:
casas = "Duas casas"
casas = casas.split()
print(casas)

['Duas', 'casas']

In [ ]:
#metodo "strip" remove espaços excessivos do inicio ou do fim das frases
cabecalho ="             Menu Principal          "
print(cabecalho.strip())

Menu Principal

In [ ]:
# metodos para variações de caixa em valores textuais
nome_cidade = "rIo DE JaNeirO"

print(nome_cidade.title())
#primeiros caracteres maisculos, para formartar titulos
print(nome_cidade.capitalize())
#primeiro caracter maisculo, o resto minusculo
print(nome_cidade.lower())
#todos minusculos
print(nome_cidade.upper())
#todos maisculos

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [ ]:
nome_cidade = input("Que cidade é conhecida como cidade Maravilhosa?")
nome_cidade = nome_cidade.strip()
while nome_cidade.lower() != "rio de janeiro":
  print("Tente outra veeez")
  nome_cidade = input("Que cidade é conhecida como cidade Maravilhosa")

print("Acertouu")

Que cidade é conhecida como cidade Maravilhosa?rio caju
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosaasksk
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosa   RiO  de     Janeiro
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosa     rio de janeiro
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosario de janeiro
Acertouu

In [ ]:
#operador "in" para verificar se determinado valor textual existe na string
mensagem = "Você viu o que ele disse na sala ontem"
fui_citado = "casa" in mensagem
print(fui_citado)

False

## Operadores em Strings

In [ ]:
#metodo para formatação de strings, principalmente pensando na inserção de valores externos dentro de um valor que estamos declarando

cumprimento = "Olá, "
nome = "Diogo"
print (cumprimento + nome)

Olá, Diogo

In [ ]:
print (nome * 5)

DiogoDiogoDiogoDiogoDiogo

In [ ]:
nome = "Diogo"
idade = 32
n_filhos = 1
print (nome + ' tem ' + str(idade) + ' anos e ' + str(n_filhos) + ' filhos.' )

Diogo tem 32 anos e 1 filhos.

In [ ]:
# format insere o valor da variavel nas {} de acordo com a ordem
print('{} tem {} anos e {} filho'.format(nome, idade, n_filhos))

Diogo tem 32 anos e 1 filho

In [ ]:
#format vai arredondar o valor caso necessário


preco_gasolina = 3.476
print("O preço da gasolina hoje subiu e está em R$ {:.2f}".format(preco_gasolina))

O preço da gasolina hoje subiu e está em R$ 3.48

**:** indica que passaremos opções

**.2** indica apenas 2 casas após o ponto decimal

**f** indica que é um float

# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))
# Saída: c, b and a

print('{0}{1}{0}'.format('abra', 'cad'))
# Saída: abracadabra

# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço


data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

In [ ]:
#atalho para o metodo format
print(f"{nome} tem  {idade} anos e  {n_filhos} filhos")

Diogo tem  32 anos e  1 filhos

# **Dicionários**

- É uma coleção associativa e desordenada de dados

- Também é uma coleção como as listas e Tuplas, porém  são indexados por chaves. Todo elemento em um dicionário possui uma chave e um valor. Chaves tipicamente são Strings e valores podem ser de variados tipos de dados

- É definido pelos símbolos {}

- São mutáveis, assim como as listas.

In [ ]:
dicionario= {}

#no dicionarios os valores são adicionados diretamente:

dicionario["Cat"] = "Gato"
dicionario["Dog"] = "Cachorro"
dicionario["mouse"] = "Rato"

print(dicionario)
print(type(dicionario))

{'Cat': 'Gato', 'Dog': 'Cachorro', 'mouse': 'Rato'}
<class 'dict'>

In [ ]:
dados_cidade = {
    "nome": "São Paulo", 
    "estado": "São Paulo",
    "area_km2": 1521,
    "populacao_milhoes": 12.18
}

In [ ]:
print(type(dados_cidade))
print(dados_cidade)

<class 'dict'>
{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18}

In [ ]:
dados_cidade["pais"]= "Brasil"
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [ ]:
print(dados_cidade["nome"])

São Paulo

In [ ]:
dados_cidade["area_km2"] = 1500
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [ ]:
#método Copy, ele copia os valores do dicionario, permitindo que a nova variavel seja uma lista ou dicionario independente
dados_cidade_2 = dados_cidade

In [ ]:
dados_cidade_2["nome"] = "Santos "  
print(dados_cidade_2)

{'nome': 'Santos ', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [ ]:
print(dados_cidade)

{'nome': 'Santos ', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [ ]:
dados_cidade_3 = dados_cidade.copy()

In [ ]:
dados_cidade_3 ["estado"] = "Rio de Janeiro"
print(dados_cidade)

{'nome': 'Santos ', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

A concatenação, atualização ou combinação  de dois dicionarios pode ser feita pela opção update.

In [ ]:
novos_dados = {
    "populacao_milhoes": 15,
    "fundacao": "25/01/1554"
}

dados_cidade.update(novos_dados)
print(dados_cidade)

{'nome': 'Santos ', 'estado': 'São Paulo', 'area_km2': 1500, 'populacao_milhoes': 15, 'pais': 'Brasil', 'fundacao': '25/01/1554'}

In [ ]:
#metodo "Get", para acesso de chaves para saber se os valores existem no dicionario

print(dados_cidade.get("prefeito"))

None

In [ ]:
print(dados_cidade.keys()) #retorna uma lista de chaves de um dicionario
print(dados_cidade.values()) # retorna uma lista de valores de um dicionario
print(dados_cidade.items()) #retorna uma lista de tuplas (chave,valor) de um dicionario

dict_keys(['nome', 'estado', 'area_km2', 'populacao_milhoes', 'pais', 'fundacao'])
dict_values(['Santos ', 'São Paulo', 1500, 15, 'Brasil', '25/01/1554'])
dict_items([('nome', 'Santos '), ('estado', 'São Paulo'), ('area_km2', 1500), ('populacao_milhoes', 15), ('pais', 'Brasil'), ('fundacao', '25/01/1554')])

# **Estruturas de repetição**

**For**

- É um tipo especial de loop, feito para percorrer elementos de uma coleção. Elimina a necessidade de um contador.

- aplicável quando tem se um objeto interavel (estrutura de dados) e que precisa navegar por cada um de seus elementos.

- quando se tem uma sequencia de tarefas que deve ser repetida um número pré definido de vezes.

**Sintaxe:**

for (variavel temporária) in (lista)
   #instruções....

In [2]:
nomes_cidades = ["São Paulo", "Londres", "Toquio", "Paris"]
for nome in nomes_cidades :
  print(nome)

São Paulo
Londres
Toquio
Paris

In [3]:
nomes_cidades = "São Paulo", "Londres", "Toquio", "Paris"
for nome in nomes_cidades :
  print(nome)

São Paulo
Londres
Toquio
Paris

In [5]:
#atua um pouco diferente em dicionarios
cidade = {
    "nome": "São Paulo",
    "estado": "São Paulo",
    "populacao_milhoes": 12.2,
}

for chave in cidade:
  print(f"{chave}: {cidade[chave]}")

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [6]:
for posicao in range(len(nomes_cidades)):
  print(posicao)

0
1
2
3

Usos da função range:

In [7]:
print(list(range(10))) #passando apenas o valor final, cria uma lista de 0 até -1 do valor passado. O valor final é excludente
print(list(range(2, 10)))  #especificando um valor inicial (includente) e um valor final (excludente)
print(list(range(2, 10, 2))) #especificando valores iniciais, finais e um incremento a cada interação

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

# **Funções**

- Sequencia de comandos

- para declarar:
  
  def hello():
      print("Olá, mundo!)

In [8]:
def hello():
  print("Olá, Mundo!")

In [9]:
hello()

Olá, Mundo!

In [10]:
def calcula_media(valor1, valor2, valor3):
  soma = valor1 + valor2 + valor3
  media = soma / 3
  return media  #retorna o valor para uma variavel

In [12]:
resultado = calcula_media(9, 10, 8)
print(resultado)

9.0

In [13]:
resultado2 = calcula_media(valor1 = 9, valor2= 10, valor3 = 9)
print(resultado2)

9.333333333333334

In [16]:
#parametros de funções que podem ser informados ou deixados em branco.
print("Ola", end=" ")
print(", Diogo")

Ola , Diogo

In [22]:
#parametrização de funções, como receber parametros variaveis dentro de uma função ou mesmo parametros desconhecidos

def calcula_media(*args): #args é uma convenção, poderia utilizar qualquer outro nome
    soma = sum(args)
    media = soma / len(args)
    return media

In [23]:
calcula_media(10,8,9)

9.0

Ao colocarmos o * ao lado do nome de um parâmetro na definição da função, estamos dizendo que aquele argumento será uma coleção. Mais especificamente, uma tupla. Porém, o usuário não irá passar uma tupla. Ele irá passar quantos argumentos ele quiser, e o Python automaticamente criará uma tupla com eles:

In [26]:
def calcula_media(*args, margem): #args é uma convenção, poderia utilizar qualquer outro nome. Posso adicionar parametros extras
    soma = sum(args)              #mas devo explicita-los na chamada da função
    media = soma / len(args)
    return media + margem

In [25]:
calcula_media(10,9,8, margem=0.55)

9.55

In [27]:
#Kwargs key world arguments

def print_info(**kwargs): #novamente, o nome de varialve é uma convenção
    print(kwargs, type(kwargs))

In [28]:
#ao chamar esta função todos os parametros devem ser nomeados. Ou, ao menos aqueles dedicados ao kwargs
print_info(nome = "Diogo", sobrenome= "Vieira")

{'nome': 'Diogo', 'sobrenome': 'Vieira'} <class 'dict'>