<a href="https://colab.research.google.com/github/Vieira-Diogo/Producao_hospitalar_no_Brasil/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Estruturas de dados (utilizado para juntar ou estruturar dados)

 - Listas e Tuplas

**Listas são coleções ou sequencias ordenadas de valores  em Python**

Lista Vazia:
listavazia = []

lista com alguns valores:
numeros = [1,2,3,4]

listas podem mesclar diferentes tipos de valores:
lista_mista = [14, "let's code", 0.1, True]

listas são mutáveis, podemos alterar o valor de seus itens:
numeros [2] = 5
print(numeros)

In [3]:
nomes_paises = ["Brasil", "Argentina", "China", "Canada", "Japão"]
print (nomes_paises)

['Brasil', 'Argentina', 'China', 'Canada', 'Japão']

In [6]:
print("Tamanho da lista:", len(nomes_paises))

Tamanho da lista: 5

In [7]:
print("País:",nomes_paises[4])

País: Japão

In [8]:
print("Pais:", nomes_paises[-1])

Pais: Japão

In [9]:
#para sobrescrever um valor na lista, basta chamar a lista na posição desejada e atribuir o valor desejado
nomes_paises[4] = "Colômbia"
print("Pais:", nomes_paises[-1])
print(nomes_paises)

Pais: Colômbia
['Brasil', 'Argentina', 'China', 'Canada', 'Colômbia']

In [11]:
# Slice ou "fatiar" o primeiro indice é includente e o segundo excludente. O print retorna o primeiro e segundo países
print(nomes_paises[0:2])

['Brasil', 'Argentina']

In [13]:
#ao omitir o indice final, indico que desejo ir até o final da lista. o mesmo vale para o indice inicial
print(nomes_paises[2:])
print(nomes_paises[:])

['China', 'Canada', 'Colômbia']
['Brasil', 'Argentina', 'China', 'Canada', 'Colômbia']

In [18]:
# é possivel inserir um "Step", para que pule valores da lista de acordo com o step
print(nomes_paises[::2])
print(nomes_paises[::3])
#ao usar um incremento negativo, podemos inverter a ordem da lista
print(nomes_paises[::-1])

['Brasil', 'China', 'Colômbia']
['Brasil', 'Canada']
['Colômbia', 'Canada', 'China', 'Argentina', 'Brasil']

In [21]:
#para checar se existe um elemento dentra da lista, operador "in" que retoma um valor bool
print("Brasil" in nomes_paises)
print("Canada" not in nomes_paises)

True
False

In [22]:
#adicionar elementos na lista
lista_capitais = []

In [23]:
#utilização do metodo .append que adiciona o valor ao final da lista
lista_capitais.append ("Brasilia")
lista_capitais.append ("Buenos Aires")
lista_capitais.append ("Pequim")
lista_capitais.append ("Bogotá")

print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Pequim', 'Bogotá']

In [24]:
#para insirir um valor em uma determinada posição, utilizamos o metodo "insert", declarando a posição e o valor que desejamos
lista_capitais.insert(2, "Paris")
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Paris', 'Pequim', 'Bogotá']

In [25]:
#para deletar valores, "remove" informando o seu valor
lista_capitais.remove("Buenos Aires")
print(lista_capitais)

['Brasilia', 'Paris', 'Pequim', 'Bogotá']

In [26]:
#o metodo "pop" permite deletar o elemento a partir de sua posição na lista. Ele sempre retornar o valor removido
removido = lista_capitais.pop(2)
print(lista_capitais, removido)

['Brasilia', 'Paris', 'Bogotá'] Pequim

In [27]:
#Tuplas, são semelhantes as listas, sua principal diferença é que a tupla é imutável. Uma vez definida, não pode sofrer alterações
#Tuplas são declaradas por ()
nomes_paises = ('Brasil', 'Argentina', 'China', 'Canada', 'Japão')
print(nomes_paises)

('Brasil', 'Argentina', 'China', 'Canada', 'Japão')

In [28]:
print(nomes_paises, type(nomes_paises))

('Brasil', 'Argentina', 'China', 'Canada', 'Japão') <class 'tuple'>

In [29]:
#tupla de 1 elemento
nome_estado = "São Paulo",
print(nome_estado, type(nome_estado))

('São Paulo',) <class 'tuple'>

In [30]:
#tuplas permitem "unpacking", atribuir cada um dos valores da tupla a variaveis diferentes
b, a, c, ca, j = nomes_paises
print(b, a, c, ca, j)

Brasil Argentina China Canada Japão

In [31]:
print(*nomes_paises)

Brasil Argentina China Canada Japão

### **Funções de Strings**

In [32]:
empresa = 'Google'
print(empresa)

Google

In [33]:
empresa = 'let's code'

SyntaxError: ignored

In [34]:
empresa = "Let's Code"
print(empresa)

Let's Code

In [36]:
#caracter de escape (contra barra \), serve para alterar o sentido padrão que um caracter possui dentro do texto
frase= "O professor fulano da Let's code disse: \"Hoje foi\""
print(frase)

O professor fulano da Let's code disse: "Hoje foi"

In [38]:
#podemos acessar os caracteres de uma string de forma semelhante a uma tupla
empresa = "Google"
print(empresa[0])

G

In [39]:
print(empresa[:3])

Goo

In [40]:
#metodos para strings, ao contrário das listas que perpetuam a alteração, nas strings eles retornam um valor que deve ser armazenado em uma variavel

nomes_cidades = "São Paulo, Bele Horizonte, Rio de Janeiro, Brasília"

In [45]:
#metodo "Split" serve para quebrar a string a partir de um caracter em diferentes valores atribuindo esses valores a uma lista
nomes_cidades = nomes_cidades.split(', ')
#tem como carcterer padrão o espaço

AttributeError: ignored

In [46]:
print(nomes_cidades)

['São Paulo', 'Bele Horizonte', 'Rio de Janeiro', 'Brasília']

In [48]:
casas = "Duas casas"
casas = casas.split()
print(casas)

['Duas', 'casas']

In [49]:
#metodo "strip" remove espaços excessivos do inicio ou do fim das frases
cabecalho ="             Menu Principal          "
print(cabecalho.strip())

Menu Principal

In [51]:
# metodos para variações de caixa em valores textuais
nome_cidade = "rIo DE JaNeirO"

print(nome_cidade.title())
#primeiros caracteres maisculos, para formartar titulos
print(nome_cidade.capitalize())
#primeiro caracter maisculo, o resto minusculo
print(nome_cidade.lower())
#todos minusculos
print(nome_cidade.upper())
#todos maisculos

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [52]:
nome_cidade = input("Que cidade é conhecida como cidade Maravilhosa?")
nome_cidade = nome_cidade.strip()
while nome_cidade.lower() != "rio de janeiro":
  print("Tente outra veeez")
  nome_cidade = input("Que cidade é conhecida como cidade Maravilhosa")

print("Acertouu")

Que cidade é conhecida como cidade Maravilhosa?rio caju
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosaasksk
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosa   RiO  de     Janeiro
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosa     rio de janeiro
Tente outra veeez
Que cidade é conhecida como cidade Maravilhosario de janeiro
Acertouu

In [55]:
#operador "in" para verificar se determinado valor textual existe na string
mensagem = "Você viu o que ele disse na sala ontem"
fui_citado = "casa" in mensagem
print(fui_citado)

False

## Operadores em Strings

In [56]:
#metodo para formatação de strings, principalmente pensando na inserção de valores externos dentro de um valor que estamos declarando

cumprimento = "Olá, "
nome = "Diogo"
print (cumprimento + nome)

Olá, Diogo

In [57]:
print (nome * 5)

DiogoDiogoDiogoDiogoDiogo

In [61]:
nome = "Diogo"
idade = 32
n_filhos = 1
print (nome + ' tem ' + str(idade) + ' anos e ' + str(n_filhos) + ' filhos.' )

Diogo tem 32 anos e 1 filhos.

In [62]:
# format insere o valor da variavel nas {} de acordo com a ordem
print('{} tem {} anos e {} filho'.format(nome, idade, n_filhos))

Diogo tem 32 anos e 1 filho

In [70]:
#format vai arredondar o valor caso necessário


preco_gasolina = 3.476
print("O preço da gasolina hoje subiu e está em R$ {:.2f}".format(preco_gasolina))

O preço da gasolina hoje subiu e está em R$ 3.48

**:** indica que passaremos opções

**.2** indica apenas 2 casas após o ponto decimal

**f** indica que é um float

# Pode-se chamar as variávies em diferentes ordens:

print('{2}, {1} and {0}'.format('a', 'b', 'c'))
# Saída: c, b and a

print('{0}{1}{0}'.format('abra', 'cad'))
# Saída: abracadabra

# Podemos especificar um número de dígitos obrigatório por campo.
# Vejamos o exemplo:

dia = 1
mes = 8
ano = 2019
data1 = '{}/{}/{}'.format(dia, mes, ano)
print(data1)
# Saída: 1/8/2019
# O dia e o mês ocupam apenas 1 espaço


data2 = '{:2d}/{:2d}/{:4d}'.format(dia, mes, ano)
# A opção 'd' significa que o parâmetro é um número inteiro.
print(data2)
# Saída:  1/ 8/2019
# Agora, dia e mês ocupam obrigatoriamente 2 espaços:  1/ 8/2019

# Podemos forçar que os espaços em branco sejam preenchidos com o número 0:
data3 = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data3)
# Saída: 01/08/2019
# Agora sim a data está no formato usual, dd/mm/aaaa: 01/08/2019

In [66]:
#atalho para o metodo format
print(f"{nome} tem  {idade} anos e  {n_filhos} filhos")

Diogo tem  32 anos e  1 filhos